
<div class="max-w-[890px] py-[20px]">
    <form action="" class="flex flex-col p-[30px] gap-[27px] bg-[#FFF] rounded-[20px] ">
            <div>
                <h1 class="text-[40px] text-[#3F3F3F]">Job Application Form</h1>
                <h5>Fill in the below form in as much detail as we can. This will be sent direct to our team who will review your application.</h5>
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="FullName">Full Name</label>
                <input type="text" placeholder="Alex" class="border border-[#A7A7A7] p-1 rounded-[50px] outline-none bg-[#FFF] px-[15px]">
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="Email Address">Email</label>
                <input type="text" placeholder="example@gmail.com" class="border border-[#A7A7A7] p-1 rounded-[50px] outline-none bg-[#FFF] px-[15px]">
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="ContactNumber">Contact Number</label>
                <input type="text" placeholder="+123 456 789" class="border border-[#A7A7A7] p-1 rounded-[50px] outline-none bg-[#FFF] px-[15px]">
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="JobApplyingFor">Job Applying For</label>
                <input type="text" placeholder="+Job Applying For Here" class="border border-[#A7A7A7] p-1 rounded-[50px] outline-none bg-[#FFF] px-[15px]">
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="YourMessage">Your Message</label>
                <textarea placeholder="Message Here...." class="border border-[#A7A7A7] p-1 rounded-[20px] outline-none bg-[#FFF] px-[15px] h-[226px]"></textarea>
            </div>
            <div class="flex flex-col gap-[10px]">
                <label class="block text-gray-700">Upload File</label>
                <input type="file" 
                    class="border border-[#767676] 
                            file:bg-[#E6E6E6] 
                            file:mr-[10px]
                            file:text-[#4F4F4F] file:text-[12px] 
                            file:font-medium file:w-[152px] file:h-[34px] 
                            file:border-0 file:p-[5px] 
                            file:rounded-[100px] file:cursor-pointer 
                            flex file:gap-2 border p-2 w-full rounded-[50px]">
            </div>
            
            <button class="primary_button w-[175px]" type="submit">
                Submit
            </button>
    </form>
</div>