<div class="my-[30px] flex flex-col gap-[24px] overflow-x-auto w-full font_inter">
    <div class="flex justify-between w-full">
        <h3>Partners</h3>
        <a routerLink="/crud/partner/add" class="primary_button cursor-pointer px-4 py-2">Add</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px] overflow-y-auto max-h-[450px]">
        <div *ngFor="let partner of partners" class="bg-[#F2F2F2] p-5 rounded-[10px] shadow-md relative">
            <button *ngIf="canDelete" (click)="deletePartner(partner.id)" class="absolute top-3 right-3 text-[#51131F] cursor-pointer hover:text-red-600">
                <fa-icon [icon]="faTrashCan" size="lg"></fa-icon>
            </button>
            <div class="flex gap-[15px] items-center">
                <img [src]="partner.image" alt="Client Image"
                    class="w-[60px] h-[60px] rounded-full object-cover">
                <div>
                    <h4 class="text-lg font-semibold">{{ partner.firstName + " " + partner.lastName }}</h4>
                    <p class="text-sm text-gray-600">{{ partner.title }}</p>
                </div>
            </div>
            <div class="flex justify-end gap-[10px] mt-4">
                <a [routerLink]="['/crud/partner/edit/'+ partner.id]"
                    class="primary_button cursor-pointer px-4 py-2">Update</a>
            </div>
        </div>
    </div>
</div>