


<header class="w-full">
    <div class="flex justify-between w-full">
        <h2 class="text-[#010101] font-normal">Dashboard</h2>
        <div class="flex gap-[10px]">
            <a class="rounded-[10px] bg-[#951C33] w-[50px] h-[50px] flex justify-center items-center" routerLink="/notifications">
                <fa-icon [icon]="faBell" class="text-[#FFFFFF]"></fa-icon>
            </a>
            <a class="rounded-[10px] bg-[#951C33] w-[50px] h-[50px] flex justify-center items-center" routerLink="/profile">
                <fa-icon [icon]="faUser" class="text-[#FFFFFF]"></fa-icon>
            </a>
        </div>
    </div>
</header>
