<div class="font-normal font_inter text-[#010101] pt-10 pb-3">
    <h3>Profile</h3>
</div>

<!-- Loading state -->
<div *ngIf="isLoading" class="text-center py-10">
    Loading profile data...
</div>

<!-- Main content when loaded -->
<div *ngIf="!isLoading && user"
    class="rounded-[20px] bg-[#F2F2F2] max-w-[890px] px-[30px] py-[20px] overflow-y-auto max-h-[495px]">
    <form action="" class="flex flex-col py-[10px] gap-[27px]">
        <div class="flex justify-between items-start">
            <img src="images/applicant-image.png" class="w-[100px] h-[100px] rounded-full">
            <fa-icon [icon]="faPenToSquare" class="text-[#951C33] text-3xl cursor-pointer"
                (click)="isEditing = true"></fa-icon>
        </div>
        <div class="flex flex-col gap-[18px] pb-[30px]">
            <div class="flex flex-col gap-[18px]">
                <div class="w-full flex flex-col gap-[10px] w-[50%]">
                    <label for="Name">First Name</label>
                    <input type="text" placeholder="Enter Your First Name"
                        class="border border-[#A7A7A7] p-1 rounded-[5px] outline-none bg-[#FFF] px-[15px]"
                        [readonly]="!isEditing" [ngClass]="{
                            'bg-[#FFF] text-[#000]': isEditing,
                            'bg-[#E6E6E6] text-[#7A7A7A] cursor-not-allowed': !isEditing
                          }" [(ngModel)]="formData.firstName" name="firstName" />
                </div>
                <div class="w-full flex flex-col gap-[10px] w-[50%]">
                    <label for="Name">Last Name</label>
                    <input type="text" placeholder="Enter Your Last Name" [ngClass]="{
                        'bg-[#FFF] text-[#000]': isEditing,
                        'bg-[#E6E6E6] text-[#7A7A7A] cursor-not-allowed': !isEditing
                      }" class="border border-[#A7A7A7] p-1 rounded-[5px] outline-none bg-[#FFF] px-[15px]"
                        [readonly]="!isEditing" [(ngModel)]="formData.lastName" name="lastName" />
                </div>
            </div>
            <div class="w-full flex flex-col gap-[10px]">
                <label for="Email">Email</label>
                <input type="text" [value]="user.email" placeholder="Enter Your Email" 
                    class="border border-[#A7A7A7] p-1 rounded-[5px] outline-none bg-[#E6E6E6] text-[#7A7A7A] cursor-not-allowed px-[15px]" readonly>
            </div>
            <button *ngIf="isEditing" class="primary_button w-fit mt-[20px] cursor-pointer" type="button"
                (click)="updateProfile()">
                Update
            </button>
            <!-- <div class="w-full flex flex-col gap-[10px] relative">
                <label for="Password">Password</label>
                <input type="password" value="••••••••" 
                       class="border border-[#A7A7A7] p-1 rounded-[5px] outline-none bg-[#FFF] px-[15px]"
                       >
                <fa-icon [icon]="faEye" class="text-[#951C33] absolute top-[39px] right-[10px]"></fa-icon>
            </div>
            <div class="w-full flex flex-col gap-[10px] relative">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" value="••••••••" 
                       class="border border-[#A7A7A7] p-1 rounded-[5px] outline-none bg-[#FFF] px-[15px]"
                       >
                <fa-icon [icon]="faEye" class="text-[#951C33] absolute top-[39px] right-[10px]"></fa-icon>
            </div> -->
        </div>
    </form>
</div>